.blocksplus-editor-social-share-buttons-block {
  &__share-button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .components-toggle-control {
      .components-form-toggle {
        margin: 0;
      }
    }
  }

  &__share-icon {
    width: 54px;
    height: 54px;
    font-size: 54px;
    padding-bottom: 10px;

    &.facebook {
      color: #3b5990;
    }

    &.twitter {
      color: #08a0e9;
    }

    &.linkedin {
      color: #0077b5;
    }

    &.reddit {
      color: #ff4500;
    }

    &.shareicon {
      color: #333;
    }
  }
}
