{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "semi": [2, "always"],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off"
  },
  "globals": {
      "wp": "readonly"
  },
  "env": {
      "browser": true,
      "jquery": true
  },
  "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module"
  }
}