.wp-block-gutenberg-plus-faq-block {
  &__heading {
    cursor: pointer;
    position: relative;

    &::after {
      position: absolute;
      top: calc(50% - 10px);
      right: 10px;
      display: block;
      content: "\f345";
      width: 20px;
      height: 20px;
      font: normal 20px/2 'dashicons', sans-serif;
      line-height: 19px;
      -webkit-font-smoothing: antialiased;
      transform: rotateZ(90deg);
      transform-origin: 10px;
      transition: transform 1s ease;
    }

    &.--padding {
      padding: 15px 25px;
    }

    &.--collapsed::after {
      transform: rotateZ(0deg);
    }

    & + div {
      overflow: hidden;
      transition: max-height 1s ease;
    }

    &.--collapsed + div {
      max-height: 0 !important;
    }
  }
}
