.wp-block-gutenberg-plus-faq {
  &__heading {
    cursor: pointer;

    & + div {
      overflow: hidden;
      transition: max-height 1s ease;
    }

    &.--collapsed + div {
      max-height: 0 !important;
    }
  }
}
